In [4]:
import pandas as pd

In [5]:
import pymysql
#connection between python and mysql workbench
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='Snehal1&',db='r3_db_system')
cursor= conn.cursor()
conn.query('SET GLOBAL connect_timeout=600')

0

In [6]:
cursor = conn.cursor()
args = (5, '21:13:25','2022-05-14','Popeyes','Sage')
cursor.callproc('restaurant_reservation', args = args)

(5, '21:13:25', '2022-05-14', 'Popeyes', 'Sage')